div.side-bar {
    font-size: 11px;
}
.side-heading {
    border-top: 1px  solid rgb(206, 201, 201);

    height: 70%;
    padding: 5% 0;
    margin: 0;
    text-align: left;
}


.showingDiv:last-of-type {
    border-bottom: 1px  solid rgb(206, 201, 201);
}

ol.breadcrumb {
    background-color: white;
    font-size: 0.7rem;
}

div li {
    margin-bottom: 1%;
    list-style-type: none;
}

div.hiddenDiv.button-block {
    margin-top: 5%;
    margin-left: 5%;
}



