<div>
  <p>Get It Fast: </p>
  <div 
  *ngFor="let subcriteria of criterias"
  class="side-heading">
  {{ subcriteria.name }}
    <span (click)="subcriteria.isCollapsed = !subcriteria.isCollapsed"*ngIf=!subcriteria.isCollapsed>+</span>
    <span (click)="subcriteria.isCollapsed = !subcriteria.isCollapsed"*ngIf=subcriteria.isCollapsed>-</span>
    <div
      [@expandCollapse]="!subcriteria.isCollapsed ? 'collapsedState' : 'expandedState'"
      class="hiddenDiv"
      [id]="subcriteria.name">
      <li *ngFor="let listItem of subcriteria.list">
        {{listItem}}
      </li>
    </div> 
  </div>

  <div class="light-underline-font">
    <span>Feedback on these filters?</span><br />
    <span>Let us know.</span>
  </div>
</div>