div.card-body a {
    font-size : inherit;
    text-align: left;
    float: left;
}

div.card-body{
    height: 10%;
}

div.card{
    height: 10%;
}

/* div.depth {
    z-index: 0;
} */

a.nav-link {
    font-size: 1rem;
}

ul.nav {
    /* width: 100%; */
    margin-right: 25%;
}

ul.navbar-nav {
    margin-right: 10%;
}

span.nav-link.dropdown {
    font-size: 1rem;
    display: block;
    margin-right: 9%;
}

