div.card-body a {
    font-size : inherit;
    text-align: left;
    float: left;
}

div.card-body{
    height: 10%;
}

div.card{
    height: 10%;
}

/* div.depth {
    z-index: 0;
} */

a.nav-link {
    font-size: 1rem;
}

div.nav {
    /* width: 100%; */
    margin-right: 25%;
}

div.navbar-nav {
    margin-right: 10%;
}

/* span.nav-link.dropdown {
    font-size: 0.6rem;
    display: block;
    margin-right: 9%;
} */

div.hiddenDiv {
    position: absolute;
    z-index: 10; 
    width: 250%;
    height: auto;
    top:70px;
    margin-left: -125%;
}

div.hiddenDiv div {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 150px;
    font-size: 0.6rem;
}