<nav class="navbar navbar-expand-sm navbar-light justify-content-center">
  <ul class="navbar-nav" 
    *ngFor="let navMenu of navMenus"
    (mouseenter)="navMenu.isCollapsed = !navMenu.isCollapsed" 
    (mouseleave)="navMenu.isCollapsed = !navMenu.isCollapsed">
    <li class="nav-item dropdown underline-hover">
      <span class="!nav-link dropdown" 
      [id]=
      "navMenu.name" 
      [attr.aria-expanded]="navMenu.isCollapsed"
        href="#">{{navMenu.name}}</span>
    </li>
  </ul>
</nav>
<div class="container depth">
  <div 
  *ngFor="let navMenu of navMenus">
  <div 
    class="card hiddenDiv"
    [id]="navMenu.name"
    [ngbCollapse]="!navMenu.isCollapsed">
    <div class="card-body">
      <a *ngFor="let item of objectValues(navMenu)[1]"
      class="dropdown-item" href="#">{{item}}</a>
    </div>
  </div>
  </div>
</div>