
<h1>Admin</h1>
<h2>Products</h2>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let product of productSnapshot | async">
      {{product.name || product}}
    <input type="text" #updateproduct [value]="product.name" />
    <button (click)="update(product.key, updateproduct.value)">Update</button>
    <button (click)="delete(product.key)">Delete</button>
  </li>
</ul>
<br/>
<input type="text" #newproduct />
<button (click)="add(newproduct.value)">Add</button>
<br/>
<button (click)="deleteAll()">Delete All</button>