
<form class="form-new-product" #f="ngForm" >
  <h2 class="form-new-product-heading">Admin: Add New Product</h2>

  <!-- Only if invalid log in is true -->
  <div *ngIf="invalidName" class="alert alert-danger">Invalid name.</div>
  <label for="inputName">Name: </label>
  <input type="text" id="inputName" name="name" ngModel class="form-control" required autofocus>
  <label for="inputPrice">Price: </label>
  <input type="number" id="inputPrice" name="price" ngModel class="form-control" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isNew">
      New Product
    </label>
  </div>

  <label for="inputSource">Image Source: </label>
  <input type="text" id="inputSource" name="src" ngModel class="form-control" required>

  <label for="inputStar">Star: </label>
  <input type="number" id="inputStar" name="star" ngModel class="form-control" required>

  <button class="btn btn-lg btn-dark btn-block" type="click" (click)="add(f)">Submit</button>
</form>