<div class="justify-content-between">
  <div class="uppernav">
    <p>
      <strong> Free shipping. Free returns. </strong>
      <span><u>All the time.</u></span>&nbsp;<a href="https://shop.nordstrom.com/content/shipping-methods-charges?cm_sp=merch-_-corp_freeshipping-_-swptcos_info&origin=header-top-promo">See
        details</a>
    </p>
  </div>

  <div class="container-fluid w-100">
    <div class="row w-100">
      <div class="row w-100">
        <nav class="navbar navbar-expand-md navbar-light">

          <div class="col-sm-8 logo">
            <a class="navbar-brand" routerLink=""><img src=".././assets/img/logo.png"></a>
          </div>

          <div class="col-sm-4">
            <ul class="nav">            
              <li                   
              (mouseenter)="searchIsCollapsed = !searchIsCollapsed"
              (mouseleave)="searchIsCollapsed = !searchIsCollapsed"
              [attr.aria-expanded]="!searchIsCollapsed"
              aria-controls="collapseSearch">
                <img class="search-button" src=".././assets/img/search.png">            
                <span class="main-nav">
                  <a href="#">Search</a>
                </span>
                <div class="my-dropdown" id="collapseSearch" [ngbCollapse]="!searchIsCollapsed">
                  <!-- <div class="card">
                    <div class="card-body"> -->
                        <form m-5 class="form-inline searchForm">
                          <input class="form-control" type="text" placeholder="What can we help you to find?">
                        </form>
                    <!-- </div>
                  </div> -->
                </div>
              </li>


              <li                   
              (mouseenter)="signIsCollapsed = !signIsCollapsed"
              (mouseleave)="signIsCollapsed = !signIsCollapsed"
              [attr.aria-expanded]="!signIsCollapsed"
              aria-controls="collapsesign">       
                <span class="main-nav" *ngIf="authService.isLoggedIn()">Hi,{{ authService.currentUser.name| uppercase}}</span><span
                *ngIf="!authService.isLoggedIn()"><a class="nav-link" routerLink="/login">Sign In</a></span>
                <div class="my-dropdown" id="collapsesign" [ngbCollapse]="!signIsCollapsed">
                  <div class="card">
                    <div class="card-body">
                        <a routerLink="/login" class="btn btn-dark">Sign In</a>
                        <a>Your Account</a>
                        <a>Wish List</a>
                        <a>Set Your Store</a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item">
                <span class="main-nav" *ngIf="authService.isLoggedIn() && authService.currentUser.admin"><a routerLink="/admin"
                    class="nav-link">Admin</a></span>
              </li>

              <li                   
              (mouseenter)="signIsCollapsed = !signIsCollapsed"
              (mouseleave)="signIsCollapsed = !signIsCollapsed"
              [attr.aria-expanded]="!signIsCollapsed"
              aria-controls="collapsesign">
                <img class="sign-button" src=".././assets/img/sign.png">            
                <span class="main-nav">
                  <a routerLink="/admin">Cart</a>
                </span>
                <div class="my-dropdown" id="collapsesign" [ngbCollapse]="!signIsCollapsed">
                  <div class="card">
                    <div class="card-body">
                        <a routerLink="/login" class="btn btn-dark"><u>Sign in</u> to see what you may have added before.</a>
                    </div>
                  </div>
                </div>
              </li>



<!-- 
              <li class="nav-item">
                <span class="main-nav" *ngIf="authService.isLoggedIn()">Hi,{{ authService.currentUser.name| uppercase}}</span><span
                  *ngIf="!authService.isLoggedIn()"><a class="nav-link" routerLink="/login">Sign In</a></span>
              </li>
              <li class="nav-item">
                <span class="main-nav" *ngIf="authService.isLoggedIn() && authService.currentUser.admin"><a routerLink="/admin"
                    class="nav-link">Admin</a></span>
              </li>
              <li class="nav-item">
                <span class="main-nav">
                  <a class="nav-link" href="https://secure.nordstrom.com/ShoppingBag.aspx">Cart</a></span>
              </li> -->
            </ul>
          </div>

        </nav>
      </div>



      <!-- <div class="row w-100">
        <nav class="navbar navbar-expand-sm navbar-light">
    
            <div class="justify-content-between">
            <ul class="navbar-nav justify-content-between">
              <li *ngFor="let navMenu of navMenus" class="nav-item dropdown underline-hover" ngbDropdown>
              
                <a class="nav-link dropdown" id="dropdown01" ngbDropdownToggle href="#">{{navMenu.name}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
                  <a *ngFor="let item of navMenu.list" class="dropdown-item" href="#">{{item}}</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        
      </div> -->
    </div>
    <app-sub-nav></app-sub-nav>
  </div>
</div>