<div class="justify-content-between">
  <div class="uppernav">
    <p>
      <strong> Free shipping. Free returns. </strong>
      <span><u>All the time.</u></span>&nbsp;<a href="https://shop.nordstrom.com/content/shipping-methods-charges?cm_sp=merch-_-corp_freeshipping-_-swptcos_info&origin=header-top-promo">See
        details</a>
    </p>
  </div>
</div>

<div class="row justify-content-between">
  <!-- Logo -->
  <div class="col-md-2  col-xs-3">
    <a class="navbar-brand" routerLink=""><img src=".././assets/img/logo.png"></a>
  </div>
  <!-- Sub-Nav-Bar -->
  <div class="col-md-auto">
    <app-sub-nav></app-sub-nav>
  </div>
  <!-- Search/Sign In/Cart -->
  <div class="col-md-2  col-xs-3">
    <!-- Search -->
    <ul class="nav">
      <li 
        class="nav-item"
        (mouseenter)="searchIsCollapsed = !searchIsCollapsed" 
        (mouseleave)="searchIsCollapsed = !searchIsCollapsed">
        <img class="search-button" src=".././assets/img/search.png">
        <span class="main-nav">
          <a href="#">Search</a>
        </span>
        <div 
          [@expandCollapse]="!searchIsCollapsed ? 'collapsedState' : 'expandedState'"
          id="collapseSearch" 
          class="hiddenDiv1">
          <div class="card">
            <div class="card-body toggle-body">
              <form class="form-inline">
                <input autofocus (keydown.enter)="directToProducts()" class="active form-control toggle-search" type="text" placeholder="What can we help you to find?">
              </form>
            </div>
          </div>
        </div>
      </li>


      <li 
        class="nav-item"
        (mouseenter)="signIsCollapsed = !signIsCollapsed" 
        (mouseleave)="signIsCollapsed = !signIsCollapsed">
        <span class="main-nav" *ngIf="authService.isLoggedIn()">
          Hi, {{ authService.currentUser.name| uppercase}}
        </span>
        <span class="main-nav"*ngIf="!authService.isLoggedIn()">
          <a routerLink="/login">
            Sign In
          </a>
        </span>
        <div
        [@expandCollapse]="!signIsCollapsed ? 'collapsedState' : 'expandedState'" 
        class="hiddenDiv2" id="collapsesign">
          <div class="card">
            <div class="card-body toggle-body">

              <span *ngIf="authService.isLoggedIn()"><a class="btn btn-dark" (click)="authService.logout()">Sign out</a></span><br />

              <span *ngIf="!authService.isLoggedIn()"><a routerLink="/login" class="btn btn-dark">Sign In</a></span>
              
              <a>Your Account</a><br />
              <a>Wish List</a><br />
              <a>Set Your Store</a><br />
            </div>
          </div>
        </div>
      </li>

      <li 
        class="nav-item"
        (mouseenter)="adminIsCollapsed = !adminIsCollapsed" 
        (mouseleave)="adminIsCollapsed = !adminIsCollapsed">
        <span 
          class="main-nav" 
          *ngIf="authService.isLoggedIn() && authService.currentUser.admin">
          <a routerLink="/products">Admin</a>
        </span>
          <div 
            [@expandCollapse]="!adminIsCollapsed ? 'collapsedState' : 'expandedState'" 
            class="hiddenDiv3" id="collapseAdmin">
            <div class="card">
              <div class="card-body toggle-body">
                <a routerLink="/products" class="btn btn-dark">Add products</a><br />
              </div>
            </div>
          </div>
      </li>

      <li 
        class="nav-item"
        (mouseenter)="cartIsCollapsed = !cartIsCollapsed" 
        (mouseleave)="cartIsCollapsed = !cartIsCollapsed">
        <span class="main-nav">
          <a routerLink="/products">Cart</a>
        </span>
        <div 
          [@expandCollapse]="!cartIsCollapsed ?'collapsedState' : 'expandedState'" 
          class="hiddenDiv4" 
          id="collapsecart">
          <div class="card">
            <div class="card-body toggle-body">
              <a routerLink="/login"><u>Sign in</u> to see what you may have added before.</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
