div {
    line-height: 1.4;
    font-size: 1.3rem;
    padding: .6rem 0;
    text-align: center;
    width: 100%;
}

div nav.navbar {
    width: 100%;
}

div.row.w-100{
    margin: 5px;
}

div.uppernav {
    color: white;
    background-color: black;
}

nav.navbar{
    border-bottom: 1px solid #ced4db;
    border-top: 1px solid #ced4db;
    background-color: white;
}

.logo {
   text-align: left; 
}