div {
    line-height: 1.4;
    font-size: 1.3rem;
    padding: .4rem 0;
    text-align: center;
}

div nav.navbar {
    width: 100%;
}

div.uppernav {
    color: white;
    background-color: black;
    font-size: 0.8rem;
    padding-bottom: 0;
}

nav.navbar{
    border-bottom: 1px solid #ced4db;
    border-top: 1px solid #ced4db;
    background-color: white;
}

.logo {
   text-align: left; 
}

span.main-nav {
    color: black;
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.9rem;
}

/* .hiddenDiv {
    position: absolute;
    z-index: 10; 
    margin-right: 50%;
} */

.hiddenDiv1 {
    position: absolute;
    z-index: 10; 
    margin-right: 400%;
    left: 20px;
    width: 500px;
    height: 200px;
}

input.toggle-search {
    width: 200%;
    border: none;
}

.toggle-body a {
    margin-bottom: 3%;
}

.toggle-body a.btn.btn-dark {
    width:100%;
}


.hiddenDiv1 div, .hiddenDiv2 div, .hiddenDiv3 div, .hiddenDiv4 div{
    width: 100%;
}

.hiddenDiv2 {
    position: absolute;
    z-index: 10; 
    width: 300px;
    height: 200px;
    
}

.hiddenDiv3 {
    position: absolute;
    z-index: 10; 
    margin-right: 100%;
    width: 300px;
    height: 200px;
    left: 50px;
}
.hiddenDiv4 {
    position: absolute;
    z-index: 10; 
    margin-right: 160%;
    width: 450px;
    height: 300px;
    left: 270px;
}


ul.nav li {
    margin-right: 9%;
}