<div class="justify-content-between">
  <div class="uppernav">
    <p>
      <strong> Free shipping. Free returns. </strong>
      <span><u>All the time.</u></span>&nbsp;<a href="https://shop.nordstrom.com/content/shipping-methods-charges?cm_sp=merch-_-corp_freeshipping-_-swptcos_info&origin=header-top-promo">See
        details</a>
    </p>
  </div>
</div>

<div class="row justify-content-between">
  <!-- Logo -->
  <div class="col-md-2  col-xs-3">
    <a class="navbar-brand" routerLink=""><img src=".././assets/img/logo.png"></a>
  </div>
  <!-- Sub-Nav-Bar -->
  <div class="col-md-auto">
    <app-sub-nav></app-sub-nav>
  </div>
  <!-- Search/Sign In/Cart -->
  <div class="col-md-2  col-xs-3">
    <!-- Search -->
    <ul class="nav">
      <li 
        class="nav-item"
        (mouseenter)="searchIsCollapsed = !searchIsCollapsed" 
        (mouseleave)="searchIsCollapsed = !searchIsCollapsed"
        [attr.aria-expanded]="!searchIsCollapsed" 
        aria-controls="collapseSearch">
        <img class="search-button" src=".././assets/img/search.png">
        <span class="main-nav">
          <a href="#">Search</a>
        </span>
        <div id="collapseSearch" [ngbCollapse]="!searchIsCollapsed">
          <div class="card searchForm">
            <div class="card-body">
              <form class="form-inline searchForm">
                <input class="form-control" type="text" placeholder="What can we help you to find?">
              </form>
            </div>
          </div>
        </div>
      </li>


      <li 
        class="nav-item"
        (mouseenter)="signIsCollapsed = !signIsCollapsed" 
        (mouseleave)="signIsCollapsed = !signIsCollapsed"
        [attr.aria-expanded]="!signIsCollapsed" 
        aria-controls="collapsesign">
        <span class="main-nav" *ngIf="authService.isLoggedIn()">
          Hi, {{ authService.currentUser.name| uppercase}}
        </span>
        <span *ngIf="!authService.isLoggedIn()">
          <a class="main-nav" routerLink="/login">
            Sign In
          </a>
        </span>
        <div class="searchForm" id="collapsesign" [ngbCollapse]="!signIsCollapsed">
          <div class="card">
            <div class="card-body">
                <!-- https://getbootstrap.com/docs/4.1/components/navs/#fill-and-justify -->
              <a routerLink="/login" class="btn btn-dark">Sign In</a><br />
              <a>Your Account</a><br />
              <a>Wish List</a><br />
              <a>Set Your Store</a><br />
            </div>
          </div>
        </div>
      </li>

      <li 
        class="nav-item"
        (mouseenter)="adminIsCollapsed = !adminIsCollapsed" 
        (mouseleave)="adminIsCollapsed = !adminIsCollapsed"
        [attr.aria-expanded]="!adminIsCollapsed" 
        aria-controls="collapseAdmin">
        <span 
          class="main-nav" 
          *ngIf="authService.isLoggedIn() && authService.currentUser.admin">
          <a routerLink="/admin">Admin</a>
        </span>
          <div class="searchForm" id="collapseAdmin" [ngbCollapse]="!adminIsCollapsed">
            <div class="card">
              <div class="card-body">
                <a routerLink="/admin" class="btn btn-dark">Add products</a><br />
              </div>
            </div>
          </div>
      </li>

      <li 
        class="nav-item"
        (mouseenter)="cartIsCollapsed = !cartIsCollapsed" 
        (mouseleave)="cartIsCollapsed = !cartIsCollapsed"
        [attr.aria-expanded]="!cartIsCollapsed" 
        aria-controls="collapsecart">
        <span class="main-nav">
          <a routerLink="#">Cart</a>
        </span>
        <div class="searchForm" id="collapsecart" [ngbCollapse]="!cartIsCollapsed">
          <div class="card">
            <div class="card-body">
              <a routerLink="/login"><u>Sign in</u> to see what you may have added before.</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
