div {
    line-height: 1.4;
    font-size: 1.3rem;
    padding: .4rem 0;
    text-align: center;
}

div nav.navbar {
    width: 100%;
}

div.uppernav {
    color: white;
    background-color: black;
    font-size: 0.8rem;
    padding-bottom: 0;
}

nav.navbar{
    border-bottom: 1px solid #ced4db;
    border-top: 1px solid #ced4db;
    background-color: white;
}

.logo {
   text-align: left; 
}

span.main-nav {
    color: black;
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.8rem;
}

/* .hiddenDiv {
    position: absolute;
    z-index: 10; 
    margin-right: 50%;
} */

.hiddenDiv1 {
    position: absolute;
    z-index: 10; 
    margin-right: 400%;
    left: -220px;
    width: 400px;
    height: 180px;
    border: none;
}

input.toggle-search {
    width: 230%;
    border: none;
}

.toggle-body a {
    font-size: 0.6rem;
    margin-bottom: 5%;
}

a.btn.btn-dark {
    width:80%;
    color: white;
}


.hiddenDiv1 div, .hiddenDiv2 div, .hiddenDiv3 div, .hiddenDiv4 div{
    width: 100%;
}

.hiddenDiv2 {
    position: absolute;
    z-index: 10; 
    width: 300px;
    height: 170px;
    right: 100px;
}

.hiddenDiv3 {
    position: absolute;
    z-index: 10; 
    margin-right: 100%;
    width: 280px;
    height: 80px;
    right: -100%;
}
.hiddenDiv4 {
    position: absolute;
    z-index: 10; 
    margin-right: 160%;
    width: 450px;
    height: 300px;
    left: -130px;
}

ul.nav li {
    margin-right: 9%;
}