<!-- <ul class="list-group">
  <li class="list-group-item" *ngFor="let product of productSnapshot | async">
    <img src="{{product.src}}">
    <span *ngIf=product.isNew>
      <p>New!</p>
    </span>
    <p>{{product.name || product}}</p>
    <p>{{product.price}}</p>
    <p>{{product.star}}</p>
    <div class="rating">
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    <span>({{product.review}})</span>
    <div *ngIf="authService.isLoggedIn() && authService.currentUser.admin">
      <input type="text" #updateproduct [value]="product.name" />
      <button (click)="update(product.key, updateproduct.value)">Update</button>
      <button (click)="delete(product.key)">Delete</button>
    </div>
  </li>
</ul>
<br />
<div *ngIf="authService.isLoggedIn() && authService.currentUser.admin">
  <input type="text" #newproduct />
  <button (click)="add(newproduct.value)">Add</button>
  <br />
  <button (click)="deleteAll()" disabled>Delete All</button>
</div> -->


<!-- <div class="row justify-content-center">
  <div class="col-6 col-md-5 col-sm-4 ">

  </div>
  <div class="col-6 col-md-5 col-sm-4 ">

  </div>
</div> -->


<div class="row justify-content-center min-width">
  <div class="col-3 col-md-2 col-sm-0 side-bar">

    <app-side-bar></app-side-bar>

  </div>
  <div class="col-9 col-md-9 col-sm-8 ">
    <div class="row-admin" *ngIf="authService.isLoggedIn() && authService.currentUser.admin">
      <app-admin></app-admin>
    </div>
    <div class="justify-content-bewteen">
      <p class="product-title">Best Sellers</p>
      <p class="total-number">{{(productSnapshot | async)?.length}} items</p>
      <div class="mb-5">
        <select [(ngModel)]="sortOption" (ngModelChange)="dataQuery(sortOption); sortOption = sortOption">
          <option value="" selected>Sort by featured</option>
          <option value="starreverse">Sort by star</option>
          <option value="name">Sort by name</option>
          <option value="price">Sort by price: low to high</option>
          <option value="pricereverse">Sort by price: high to low</option>
        </select>
      </div>

      <div class="grid-zone">

        <ng-container *ngIf="!reverse">


          <div class="grid-item" *ngFor="let product of productSnapshot | async">

            <img class="grid-img" src="{{product.src}}">
            <span class="newThang" *ngIf=product.isNew class="grid-new">New!
            </span>
            <span class="newThang" *ngIf=!product.isNew class="grid-new">
              <br /></span><br />
            <p class="grid-name">{{product.name || product}}</p>
            <p class="grid-price">${{product.price}}</p>
            <div class="grid-rating">
              <span *ngIf="product.star == 1">★☆☆☆☆</span>
              <span *ngIf="product.star == 2">★★☆☆☆</span>
              <span *ngIf="product.star == 3">★★★☆☆</span>
              <span *ngIf="product.star == 4">★★★★☆</span>
              <span *ngIf="product.star == 5">★★★★★</span>&nbsp;
              <span class="grid-reviews"><a>({{objectKeys(product.reviews).length}})</a></span>
            </div>

            <div *ngIf="authService.isLoggedIn() && authService.currentUser.admin">
              <input type="text" #updateproductName [value]="product.name" />
              <input type="text" #updateproductPrice [value]="product.price" />
              <button (click)="updateName(product.key, updateproductName.value)">Update Name</button>
              <button (click)="updatePrice(product.key, updateproductPrice.value)">Update Price</button>
              <button (click)="delete(product.key)">Delete</button>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="reverse">


          <div class="grid-item" *ngFor="let product of productSnapshot | async | reverse">

            <img class="grid-img" src="{{product.src}}">
            <span class="newThang" *ngIf=product.isNew class="grid-new">New!
            </span>
            <span class="newThang" *ngIf=!product.isNew class="grid-new">
              <br /></span><br />
            <p class="grid-name">{{product.name || product}}</p>
            <p class="grid-price">${{product.price}}</p>
            <div class="grid-rating">
              <span *ngIf="product.star == 1">★☆☆☆☆</span>
              <span *ngIf="product.star == 2">★★☆☆☆</span>
              <span *ngIf="product.star == 3">★★★☆☆</span>
              <span *ngIf="product.star == 4">★★★★☆</span>
              <span *ngIf="product.star == 5">★★★★★</span>&nbsp;
              <span class="grid-reviews"><a>({{objectKeys(product.reviews).length}})</a></span>
            </div>

            <div *ngIf="authService.isLoggedIn() && authService.currentUser.admin">
              <input type="text" #updateproductName [value]="product.name" />
              <input type="text" #updateproductPrice [value]="product.price" />
              <button (click)="updateName(product.key, updateproductName.value)">Update Name</button>
              <button (click)="updatePrice(product.key, updateproductPrice.value)">Update Price</button>
              <button (click)="delete(product.key)">Delete</button>
            </div>
          </div>
        </ng-container>



      </div>
    </div>

  </div>

</div>