<!-- <ul class="list-group">
  <li class="list-group-item" *ngFor="let product of productSnapshot | async">
    <img src="{{product.src}}">
    <span *ngIf=product.isNew>
      <p>New!</p>
    </span>
    <p>{{product.name || product}}</p>
    <p>{{product.price}}</p>
    <p>{{product.star}}</p>
    <div class="rating">
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    <span>({{product.review}})</span>
    <div *ngIf="authService.isLoggedIn() && authService.currentUser.admin">
      <input type="text" #updateproduct [value]="product.name" />
      <button (click)="update(product.key, updateproduct.value)">Update</button>
      <button (click)="delete(product.key)">Delete</button>
    </div>
  </li>
</ul>
<br />
<div *ngIf="authService.isLoggedIn() && authService.currentUser.admin">
  <input type="text" #newproduct />
  <button (click)="add(newproduct.value)">Add</button>
  <br />
  <button (click)="deleteAll()" disabled>Delete All</button>
</div> -->


<!-- <div class="row justify-content-center">
  <div class="col-6 col-md-5 col-sm-4 ">

  </div>
  <div class="col-6 col-md-5 col-sm-4 ">

  </div>
</div> -->


<div class="row justify-content-center">
  <div class="col-3 col-md-2 col-sm-0 side-bar">

    <app-side-bar></app-side-bar>

  </div>  
  <div class="col-9 col-md-9 col-sm-8 ">
    <div class="row justify-content-bewteen">
      <span class="product-title">Best Sellers</span><br />
      <span class="total-number">{{(productsRef | async)?.length}}</span>
      <div class="grid-zone">
        <div class="grid-item" *ngFor="let product of productSnapshot | async">

          <img class="grid-img" src="{{product.src}}">
          <span class="newThang" *ngIf=product.isNew class="grid-new">New!
          </span>
          <span class="newThang" *ngIf=!product.isNew class="grid-new">
              <br /></span><br />
          <p class="grid-name">{{product.name || product}}</p>
          <p class="grid-price">${{product.price}}</p>
          <div class="grid-rating">
            <span *ngIf="product.star == 1">★☆☆☆☆</span>
            <span *ngIf="product.star == 2">★★☆☆☆</span>
            <span *ngIf="product.star == 3">★★★☆☆</span>
            <span *ngIf="product.star == 4">★★★★☆</span>
            <span *ngIf="product.star == 5">★★★★★</span>&nbsp;
            <span class="grid-reviews"><a>({{product.reviews.length}})</a></span>
          </div>
          
          <div *ngIf="authService.isLoggedIn() && authService.currentUser.admin">
            <input type="text" #updateproduct [value]="product.name" />
            <button (click)="update(product.key, updateproduct.value)">Update</button>
            <button (click)="delete(product.key)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>