.grid-zone {
    display: grid;
    grid-template-columns: repeat(4, 24%); 
    grid-template-rows: repeat(3, 450px);
    grid-gap: 13px;
    margin-top: 6%;
    grid-auto-rows: 450px;
    justify-items: stretch;
    justify-content: space-evenly;
    align-items: start;
    align-content: space-evenly;
    grid-auto-flow: row;
}

.grid-item {
    width: 100%;
    font-size: 0.7rem;
}

.grid-img {
    width: 100%;
    height: auto;
}

span.grid-new{
    margin-top:  1%;
    font-weight: 400;
    color: mediumblue;
}

p.grid-name {
    margin-top: 2%;
    font-weight: 200;
}
p.grid-price {
    margin-top: -1%;
    font-weight: 600;
}

p.grid-rating {
    margin-top: -1%;
}

p.grid-reviews {
    color:gray;
    font-weight: 100;
}