<div>
  <img class="no-gutters mb-5" src=".././assets/img/seperator1.png" alt="The Nordy Club. Our new rewards program is here!">
</div>



<div class="row justify-content-center">
  <div class="col-6 col-md-5 col-sm-4 ">
      <a href="https://www.youtube.com/embed/Bf8R-II0P0s?autoplay=1&amp;condivols=1&amp;loop=1&amp;frameborder=0&amp;allowfullscreen">
        <img src=".././assets/img/r1c1.jpeg">
      </a>
      <p class="data-title">
        {{row1col1.title}}
      </p><br />
      <p class="data-body">
        {{row1col1.body}}
      </p><br />
      <p class="data-link"><a href="{{row1col1.url}}">{{row1col1.link}}</a></p>
  </div>
  <div class="col-6 col-md-5 col-sm-4 ">
      <a href="https://www.youtube.com/embed/Bf8R-II0P0s?autoplay=1&amp;condivols=1&amp;loop=1&amp;frameborder=0&amp;allowfullscreen">
        <img src=".././assets/img/r1c2.gif">
      </a>
      <p class="data-title">
        {{row1col2.title}}
      </p><br />
      <p class="data-body">
        {{row1col2.body}}
      </p><br />
      <p class="data-link"><a href="{{row1col2.url}}">{{row1col2.link}}</a></p>
  </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-md-8">
      <img class="z-1 absolute" src=".././assets/img/r2c1.jpeg">
      <div class="inner-data">
        <p class="data-title">
          {{row2col1.title}}
        </p><br />
        <p class="data-body">
          {{row2col1.body}}
        </p><br />
        <p class="data-link"><a href="{{row2col1.url}}">{{row2col1.link}}</a></p>
      </div>
    </div>
</div>


<!-- <div class="row">
  <div class="col-md-6 twoCol">
    <div class="row image-row text-center">
      <a href="https://www.youtube.com/embed/Bf8R-II0P0s?autoplay=1&amp;condivols=1&amp;loop=1&amp;frameborder=0&amp;allowfullscreen">
        <img src=".././assets/img/r1c1.jpeg" alt="The Nordy Club. Our new rewards program is here!">
      </a>
    </div>
    <div class="row title-row text-center">
      {{row1col1.title}}
    </div>
    <div class="row body-row text-center">
      {{row1col1.body}}
    </div>
    <div class="row link-row text-center">
      <a href="{{row1col1.url}}">{{row1col1.link}}</a>
    </div>
  </div>

  <div class="col-md-6 twoCol" >
    <div class="row img-row text-center">
      <a href="#"><img src=".././assets/img/r1c2.gif" alt="The Nordy Club. Our new rewards program is here!"></a>
    </div>
    <div class="row title-row text-center">
      {{row1col2.title}}
    </div>
    <div class="row body-row text-center">
      {{row1col2.body}}
    </div>
    <div class="row link-row text-center">
      <a href="{{row1col1.url}}">{{row1col2.link}}</a>
    </div>

  </div>
</div> -->


<!-- <div class="row w-100">
  <div class="row image-row text-center">
    <a class="z-1 absolute" href="#"><img class="z-1 absolute" src=".././assets/img/r2c1.jpeg" alt="The Nordy Club. Our new rewards program is here!"></a>

    <div class="p-10 mt">
      <div class="row title-row text-center">
        {{row2col1.title}}
      </div>
      <div class="row title-row text-center">
        <h3><strong>Halogen x Atlantic-Pacific</strong></h3>
      </div>
      <div class="row body-row text-center">
        {{row2col1.body}}
      </div>
      <div class="row link-row text-center">
        <a href="{{row2col1.url}}">{{row2col1.link}}</a>
      </div>
    </div>

  </div>

</div> -->



