<div class="seperator">
    <img class="seperator" src=".././assets/img/seperator1.png" alt="The Nordy Club. Our new rewards program is here!">
  </div>
<table class="custom">
  <tr>
    <td class="twoCol">
      <tr class="image-row">
        <a href="https://www.youtube.com/embed/Bf8R-II0P0s?autoplay=1&amp;controls=1&amp;loop=1&amp;frameborder=0&amp;allowfullscreen">
          <img src=".././assets/img/r1c1.jpeg" alt="The Nordy Club. Our new rewards program is here!">
        </a>
      </tr>
      <tr class="title-row">
        {{row1col1.title}}
      </tr>
      <tr class="body-row">
        {{row1col1.body}}
      </tr>
      <tr class="link-row">
        <a href="{{row1col1.url}}">{{row1col1.link}}</a>
      </tr>
    </td>
    <td>
      <tr>
        <a href="#"><img src=".././assets/img/r1c2.gif" alt="The Nordy Club. Our new rewards program is here!"></a>
      </tr>
      <tr class="title-row">
        {{row1col2.title}}
      </tr>
      <tr class="body-row">
        {{row1col2.body}}
      </tr>
      <tr class="link-row">
        <a href="{{row1col1.url}}">{{row1col2.link}}</a>
      </tr>

    </td>
  </tr>
</table>