

img.no-gutters {
    width: 100%;
    height: 80px;
}

img {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

.data-title {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 30px
}

.data-body {
    font-size: 1rem;
}

.data-link {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 100px;
    text-decoration: underline;
    cursor: pointer;
}


/* img.seperator {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}

div.seperator {
    left: 0%;
    margin-right: -60px;
    margin-bottom: 20px;
    width: 100%;
}

div.twoCol {
    justify-content: center;
    margin-bottom: 20px;
    left: 8.5106%;
    width: 31.9148%;
}

div.image-row {
    width: 80%;
    margin-bottom: 3%;
}
div.title-row {
    justify-content: center;
    font-size: 21px;
    line-height: 1.14;
    margin: 0;
    width: 80%;
    margin-bottom: 3%;
}
div.body-row {
    justify-content: center;
    font-size: 15px;
    margin-top: 3%;
    line-height: 1.4;
    width: 80%;
    text-align: center;
    margin-bottom: 3%;
}
div.link-row {
    justify-content: center;
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

img.data {
    clear: both;
    position: relative;
    width: 100%;
}

.absolute {
    position: absolute;
}
 
.z-1 {
    z-index: -10;
}

.mt {
    margin-top: 10%;
} */
