img.seperator {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    z-index: 1;
}

div.seperator {
    left: 0%;
    margin-right: -60px;
    margin-bottom: 20px;
    width: 100%;
}